@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #047769;
  --secondary-color: #03695c;
  --dark-gray: #6b7280;
  --off-white: #eeeeee;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
}

h2 {
  margin: 0;
}

.links {
  box-sizing: border-box;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
}

.link-primary {
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
}

.link-secondary {
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.link-primary:hover {
  background-color: var(--secondary-color);
  color: var(--off-white);
  border: 1px solid var(--primary-color);
}

.link-secondary:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem;
}

/* navigation start */
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0.5rem 0.5rem;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  gap: 10px;
}

.nav-brand {
  font-size: larger;
  order: 0;
  flex-grow: 4;
  flex-shrink: 0;
  align-self: flex-start;
  padding: 0.5rem;
}

.nav-list-container {
  padding-top: 0.5rem;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 5px;
  align-items: flex-end;
  flex-grow: 1;
}

.nav-list-item {
  font-size: smaller;
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: auto;
  align-self: flex-end;
}

.navigation .nav-brand {
  font-weight: bold;
}

.nav-brand a {
  text-decoration: none;
  color: inherit;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}
/* navigation end */

/* main start */
.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  gap: 10px;
}

.main-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: stretch;
  gap: 10px;
  flex: 1 1 0;
}

.container {
  padding: 1rem;
  text-align: center;
}

.container-center {
  margin: 0.5rem 0;
  padding: 1rem;
  box-sizing: border-box;
}

.hero-heading {
  font-size: x-large;
  text-align: center;
  color: var(--dark-gray);
  margin-top: 1rem;
  padding: 1rem;
}

.heading-inverted {
  color: var(--primary-color);
}

.description {
  margin: 0;
  padding: 0 0.5rem;
  text-align: justify;
}

.ow {
  background-color: var(--off-white);
}

/* form */
.question-container {
  border-radius: 0.5rem;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  gap: 10px;
}

.answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  align-content: space-around;
  gap: 25px;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}

.input-text {
  outline: #fff;
  padding: 0.6rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.4rem;
  width: 100%;
  max-width: 260px;
  margin-bottom: 1rem;
}

.input-ans {
  margin: 0 0.4rem;
}

.question-container > label > input {
  display: inline;
  width: auto;
  min-width: 10%;
}

.question-container > label {
  text-align: left;
  display: inline;
}

.error-msg {
  margin: 0.1rem 0 1rem 0;
  padding: 0;
  color: red;
  font-weight: 600;
  font-size: 0.8rem;
}

button {
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color);
  color: var(--off-white);
  margin: 0.5rem auto;
  border: 1px solid var(--primary-color);
  display: block;
  border-radius: 0.4rem;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--off-white);
}

/* footer start */
.footer {
  margin-top: 1.5rem;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.footer-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  align-content: center;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
/* footer end */
